$primary-color:#272727;
$accent-color:#ff652f;
$text-colors:(
    "white":#fff,
    "red":#ff3333,
    "pink": #ff66ff
);
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);
$font-family:"Roboto";

$mobile:800px;